<h1>Details</h1>

<div *ngIf="netWorth">
<form #f="ngForm">
   <mat-form-field>
     <input matInput name="SavingsAccount"  matInput placeholder="SavingsAccount" formControlName= "SavingsAccount" type="text">
   </mat-form-field>

   <mat-form-field>
      <input matInput name="CheckingAccount"  matInput placeholder="CheckingAccount" formControlName= "CheckingAccount" type="text">
   </mat-form-field>

   <mat-form-field>
      <input matInput name="MoneyMarketAccount"  matInput placeholder="MoneyMarketAccount" formControlName= "MoneyMarketAccount" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="SavingsBonds"  matInput placeholder="SavingsBonds" formControlName= "SavingsBonds" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="CertificateOfDeposits"  matInput placeholder="CertificateOfDeposits" formControlName= "CertificateOfDeposits" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="IRA"  matInput placeholder="IRA" formControlName= "IRA" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="RothIRA"  matInput placeholder="RothIRA" formControlName= "RothIRA" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="Retirement401K"  matInput placeholder="Retirement401K" formControlName= "Retirement401K" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="SepIRA"  matInput placeholder="SepIRA" formControlName= "SepIRA" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="Pension"  matInput placeholder="Pension" formControlName= "Pension" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="Annuity"  matInput placeholder="Annuity" formControlName= "Annuity" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="RealEstate"  matInput placeholder="RealEstate" formControlName= "RealEstate" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="PrincipleHome"  matInput placeholder="PrincipleHome" formControlName= "PrincipleHome" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="VacationHome"  matInput placeholder="VacationHome" formControlName= "VacationHome" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="CarsTrucksBoats"  matInput placeholder="CarsTrucksBoats" formControlName= "CarsTrucksBoats" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="HomeFurnishings"  matInput placeholder="HomeFurnishings" formControlName= "HomeFurnishings" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="OtherAssets"  matInput placeholder="OtherAssets" formControlName= "OtherAssets" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="CreditCardBalance"  matInput placeholder="CreditCardBalance" formControlName= "CreditCardBalance" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="EstimatedIncomeTaxOwed"  matInput placeholder="EstimatedIncomeTaxOwed" formControlName= "EstimatedIncomeTaxOwed" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="OtherOutstandingBills"  matInput placeholder="OtherOutstandingBills" formControlName= "OtherOutstandingBills" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="HomeMortgage"  matInput placeholder="HomeMortgage" formControlName= "HomeMortgage" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="HomeEquityLoan"  matInput placeholder="HomeEquityLoan" formControlName= "HomeEquityLoan" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="MortgagesOnRentals"  matInput placeholder="MortgagesOnRentals" formControlName= "MortgagesOnRentals" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="CarLoans"  matInput placeholder="CarLoans" formControlName= "CarLoans" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="StudentLoans"  matInput placeholder="StudentLoans" formControlName= "StudentLoans" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="LifeInsurancePolicyLoans"  matInput placeholder="LifeInsurancePolicyLoans" formControlName= "LifeInsurancePolicyLoans" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="OtherLongTermDebt"  matInput placeholder="OtherLongTermDebt" formControlName= "OtherLongTermDebt" type="text">
   </mat-form-field> 
  
</form>
</div>

<a mat-button routerLink="/netWorth">Back to List</a>
