<app-header></app-header>
<h1>Details</h1>

<div *ngIf="netWorth">
<form #f="ngForm">
   <mat-form-field>
     <input matInput name="SavingsAccount"  matInput placeholder="SavingsAccount" type="text">
   </mat-form-field>

   <mat-form-field>
      <input matInput name="CheckingAccount"  matInput placeholder="CheckingAccount" type="text">
   </mat-form-field>

   <mat-form-field>
      <input matInput name="MoneyMarketAccount"  matInput placeholder="MoneyMarketAccount" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="SavingsBonds"  matInput placeholder="SavingsBonds" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="CertificateOfDeposits"  matInput placeholder="CertificateOfDeposits" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="IRA"  matInput placeholder="IRA" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="RothIRA"  matInput placeholder="RothIRA" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="Retirement401K"  matInput placeholder="Retirement401K" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="SepIRA"  matInput placeholder="SepIRA" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="Pension"  matInput placeholder="Pension" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="Annuity"  matInput placeholder="Annuity" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="RealEstate"  matInput placeholder="RealEstate" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="PrincipleHome"  matInput placeholder="PrincipleHome" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="VacationHome"  matInput placeholder="VacationHome" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="CarsTrucksBoats"  matInput placeholder="CarsTrucksBoats" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="HomeFurnishings"  matInput placeholder="HomeFurnishings" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="OtherAssets"  matInput placeholder="OtherAssets" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="CreditCardBalance"  matInput placeholder="CreditCardBalance" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="EstimatedIncomeTaxOwed"  matInput placeholder="EstimatedIncomeTaxOwed" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="OtherOutstandingBills"  matInput placeholder="OtherOutstandingBills" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="HomeMortgage"  matInput placeholder="HomeMortgage" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="HomeEquityLoan"  matInput placeholder="HomeEquityLoan" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="MortgagesOnRentals"  matInput placeholder="MortgagesOnRentals" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="CarLoans"  matInput placeholder="CarLoans" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="StudentLoans"  matInput placeholder="StudentLoans" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="LifeInsurancePolicyLoans"  matInput placeholder="LifeInsurancePolicyLoans" type="text">
   </mat-form-field> 

   <mat-form-field>
      <input matInput name="OtherLongTermDebt"  matInput placeholder="OtherLongTermDebt" type="text">
   </mat-form-field> 
  
</form>
</div>

<a mat-button routerLink="/netWorth">Back to List</a>
