<h1>Details</h1>

<div *ngIf="netWorth">
  <div>
    <label for="">Savings Account</label>
    <span>{{netWorth.SavingsAccount}}</span>
  </div>
  <div>
    <label for="">Checking Account</label>
    <span>{{netWorth.CheckingAccount}}</span>
  </div>
  <div>
    <label for="">Money Market Account</label>
    <span>{{netWorth.MoneyMarketAccount}}</span>
  </div>
  <div>
    <label for="">Savings Bonds</label>
    <span>{{netWorth.SavingsBonds}}</span>
  </div>
  <div>
    <label for="">Certificate Of Deposits</label>
    <span>{{netWorth.CertificateOfDeposits}}</span>
  </div>
  <div>
    <label for="">IRA</label>
    <span>{{netWorth.IRA}}</span>
  </div>
  <div>
    <label for="">Roth IRA</label>
    <span>{{netWorth.RothIRA}}</span>
  </div>
  <div>
    <label for="">Retirement 401K</label>
    <span>{{netWorth.Retirement401K}}</span>
  </div>
  <div>
    <label for="">SepIRA</label>
    <span>{{netWorth.SepIRA}}</span>
  </div>
  <div>
    <label for="">Pension</label>
    <span>{{netWorth.Pension}}</span>
  </div>
  <div>
    <label for="">Annuity</label>
    <span>{{netWorth.Annuity}}</span>
  </div>
  <div>
    <label for="">Real Estate</label>
    <span>{{netWorth.RealEstate}}</span>
  </div>
  <div>
    <label for="">Principle Home</label>
    <span>{{netWorth.PrincipleHome}}</span>
  </div>
  <div>
    <label for="">Vacation Home</label>
    <span>{{netWorth.VacationHome}}</span>
  </div>
  <div>
    <label for="">Cars Trucks Boats</label>
    <span>{{netWorth.CarsTrucksBoats}}</span>
  </div>
  <div>
    <label for="">Home Furnishings</label>
    <span>{{netWorth.HomeFurnishings}}</span>
  </div>
  <div>
    <label for="">Other Assets</label>
    <span>{{netWorth.OtherAssets}}</span>
  </div>
  <div>
    <label for="">Credit Card Balance</label>
    <span>{{netWorth.CreditCardBalance}}</span>
  </div>
  <div>
    <label for="">Estimated Income Tax Owed</label>
    <span>{{netWorth.EstimatedIncomeTaxOwed}}</span>
  </div>
  <div>
    <label for="">Other Outstanding Bills</label>
    <span>{{netWorth.OtherOutstandingBills}}</span>
  </div>
  <div>
    <label for="">Home Mortgage</label>
    <span>{{netWorth.HomeMortgage}}</span>
  </div>
  <div>
    <label for="">Car Loans</label>
    <span>{{netWorth.CarLoans}}</span>
  </div>
  <div>
    <label for="">Student Loans</label>
    <span>{{netWorth.StudentLoans}}</span>
  </div>
  <div>
    <label for="">Life Insurance Policy Loans</label>
    <span>{{netWorth.LifeInsurancePolicyLoans}}</span>
  </div>
  <div>
    <label for="">Other Long Term Debt</label>
    <span>{{netWorth.OtherLongTermDebt}}</span>
  </div>

  <div>
    <a mat-button routerLink="/netWorth">Back to list</a>
  </div>
</div>