<!-- <mat-toolbar color="primary">
  <span>CashFlow</span>
  <span class="example-fill-remaining-space"></span>
 <button mat-raised-button class="nav-btn">Register</button>
  <button mat-raised-button class="nav-btn">Login</button>
</mat-toolbar> -->

<!-- <mat-toolbar color= "primary"> -->
  <!-- <nav class="navbar">
    <span class="open-slide">
      <div class="nav-button" (click)="openSlideMenu">
      <i (click)="openSlideMenu()">
        <svg width="30" height="30">
            <path d="M0,5 30,5" stroke="#fff" stroke-width="5"/>
            <path d="M0,14 30,14" stroke="#fff" stroke-width="5"/>
            <path d="M0,23 30,23" stroke="#fff" stroke-width="5"/>
        </svg>
      </i>
      </div>
    </span>
  </nav>
  <div id="side-menu" class="side-nav">
    <span class="btn-close">
    <div (click)="closeSlideMenu()"> X </div>
    <div><a href="/home"><i class="material-icons">
        home
        </i>Home</a></div>
    <div><a href="/register">Register </a></div>
    <div><a href="/login">LogIn </a></div>
    <div><a href="/settings" Setting> </a></div>
  </span>
  </div>
  <script>
    function openSlideMenu(){
      console.log("clicked")
      document.getElementById('side-menu').style.width = '250px';
      document.getElementById('main').style.marginLeft = '250px';
    }
    function closeSlideMenu(){
      this.document.getElementById('side-menu').style.width = '0';
      this.document.getElementById('main').style.marginLeft = '0';
    }
  </script> -->
<!-- </mat-toolbar> -->

<!-- <mat-sidenav-container class="nav-container" *ngIf="shouldRun">
    <mat-sidenav mode="side" opened>
      
    </mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container> -->

<nav>
  <span class="title">
    CashFlow
  </span>
  <span class="logo">
      <img src="https://cdn.dribbble.com/users/310943/screenshots/3491354/yoga-illustration.gif" alt="">
      </span>
    <ul>
      <li>
        <a>
          Home
        </a>
      </li>
      <li>
        <a routerLink="/netWorth">
          Networth
        </a>
      </li>
      <li>
        <a routerLink="/expense">
          Expense
        </a>
      </li>
      <li>
        <a routerLink="/budget">
          Budget
        </a>
      </li>
      <li>
        <a (click)="onLogout()">
          Log-out
        </a>
      </li>
    </ul>
  </nav>