
<body>
  <header class="v-header container">
  <div class="fullscreen-video-wrap">
      <video src="../../../assets/DollarBillPrintingVidevo.mov"autoplay="true"loop=true></video>
  </div>
  <div class="header-overlay"></div>
  <div class="header-content">
      <h1>CashFlow</h1>
      <p>Tracking your assets and liabilities is an important component of knowing your complete financial picture....
           Liabilities are anything you owe money on. A car loan, home mortgage, or even child support obligations are 
           all liabilities that should also be included in your overall net worth..</p>
       <!-- <a href="#" class="btn">Log In</a> -->
       <button mat-stroked-button class="btn" routerLink="/login">Log In</button>
  </div>
</header>
</body>
