

<h1>Budget</h1>
<form #f="ngForm" (ngSubmit)="onSubmit()" [formGroup]="budgetForm">
<div class="container">
  <mat-form-field>
    <input matInput placeholder="MonthlyIncome" formControlName="MonthlyIncome">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="EstimatedAvailableBalance" formControlName="EstimatedAvailableBalance">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="SavingsAmount" formControlName="SavingsAmount">
    </mat-form-field>
    
  <button mat-raised-button type="button" color="primary"(click)="onSubmit()">Submit</button>

  <a mat-raised-button color="accent" routerLink="/budget">Back to List</a>
</div>
</form>


