<h1>Create</h1>
<mat-card>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="expenseForm">
<div class="container">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Cost" formControlName="Cost">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Description" formControlName="Description">
    </mat-form-field>

  <button mat-raised-button type="button" color="primary"(click)="onSubmit()">Submit</button>
  <a mat-raised-button color="accent" routerLink="/expense">Back to List</a>
</div>
</form>
</mat-card>


