      <mat-card>
            <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
              {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
            </button>
            <form [formGroup]="netWorthFormGroup">
            <mat-vertical-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>SavingsAccount</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="SavingsAccount" formControlName="SavingsAccount" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>CheckingAccount</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="CheckingAccount" formControlName="CheckingAccount" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>MoneyMarketAccount</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="MoneyMarketAccount" formControlName="MoneyMarketAccount" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>SavingsBonds</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="SavingsBonds" formControlName="SavingsBonds" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>CertificateOfDeposits</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="CertificateOfDeposits" formControlName="CertificateOfDeposits" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                      <ng-template matStepLabel>IRA</ng-template>
                      <mat-form-field>
                        <input matInput placeholder="IRA" formControlName="IRA" required>
                      </mat-form-field>
                      <div>
                        <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                      </div>
                  </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>RothIRA</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="RothIRA" formControlName="RothIRA" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>Retirement401K</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="Retirement401K" formControlName="Retirement401K" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>SepIRA</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="SepIRA" formControlName="SepIRA" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>Pension</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="Pension" formControlName="Pension" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>Annuity</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="Annuity" formControlName="Annuity" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>RealEstate</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="RealEstate" formControlName="RealEstate" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>PrincipleHome</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="PrincipleHome" formControlName="PrincipleHome" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>VacationHome</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="VacationHome" formControlName="VacationHome" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>CarsTrucksBoats</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="CarsTrucksBoats" formControlName="CarsTrucksBoats" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>HomeFurnishings</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="HomeFurnishings" formControlName="HomeFurnishings" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>OtherAssets</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="OtherAssets" formControlName="OtherAssets" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>CreditCardBalance</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="CreditCardBalance" formControlName="CreditCardBalance" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>EstimatedIncomeTaxOwed</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="EstimatedIncomeTaxOwed" formControlName="EstimatedIncomeTaxOwed" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>OtherOutstandingBills</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="OtherOutstandingBills" formControlName="OtherOutstandingBills" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>HomeMortgage</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="HomeMortgage" formControlName="HomeMortgage" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>HomeEquityLoan</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="HomeEquityLoan" formControlName="HomeEquityLoan" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>MortgagesOnRentals</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="MortgagesOnRentals" formControlName="MortgagesOnRentals" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>CarLoans</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="CarLoans" formControlName="CarLoans" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>StudentLoans</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="StudentLoans" formControlName="StudentLoans" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                    <ng-template matStepLabel>LifeInsurancePolicyLoans</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="LifeInsurancePolicyLoans" formControlName="LifeInsurancePolicyLoans" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="netWorthFormGroup">
                      <ng-template matStepLabel>OtherLongTermDebt</ng-template>
                      <mat-form-field>
                        <input matInput placeholder="OtherLongTermDebt" formControlName="OtherLongTermDebt" required>
                      </mat-form-field>
                      <div>
                        <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                      </div>
                  </mat-step>
                  <mat-step [stepControl]="netWorthFormGroup">
                        <ng-template matStepLabel>Calculate</ng-template>
                        <div>
                          <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                          <button mat-raised-button type="button" color="primary"(click)="onSubmit()">Submit</button>
                        </div>
                    </mat-step>
            </mat-vertical-stepper>
           </form>
            <a mat-raised-button color="accent" routerLink="/netWorth">Back to List</a>
          </mat-card>

