/* button{
    position: relative;
     background:#85bb65; 
    color:white;
    font-size:1.2rem;
    padding: 1rem 2rem;
    text-decoration:none; 
    border:2px solid white;
    border:none;
} */

/* 
nav{
    background-color: #85bb65;
    margin:0;
    padding:0;
}

form{
    position: relative;
    top:15rem;
    right:6rem;
} */

mat-form-field {
    width: 100%;
}

button{
    width: 100%;
}

h1{
    font-size: 40px;
}
.logIn-div{
    /* border: 5px solid black;*/
    /* border-radius: 20px; */
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    /* margin-bottom: 10px; */
    /* background-color: whitesmoke; */
    /* background: cadetblue; */
    /* position: relative; 
    top: 200px;
    left: 500px; */
    background: #41EAD4;
    opacity: .8;
    margin: auto;
    width: 400px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding-top:  2em;
    padding-bottom: 2em;
}

.login-container{
    display:flex;
    align-items:center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-image: url("https://cdn.dribbble.com/users/330915/screenshots/4860647/4.gif");
    /* background-image: url("https://images.pexels.com/photos/929285/pexels-photo-929285.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"); */
    /* background-image: url("https://images.pexels.com/photos/259165/pexels-photo-259165.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"); */
    /* background-image: url("https://images.pexels.com/photos/259209/pexels-photo-259209.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"); */
}