<app-header> </app-header>
<div class="logIn-div">
    <h1>Log In</h1>
<body>
<form #f="ngForm" (ngSubmit)= "onSubmit(f)" [formGroup]="loginForm">
  <div>
   <div>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" type="email" required/>
    </mat-form-field>
   </div>
   <div>
     <mat-form-field>
       <input matInput placeholder="Password" formControlName ="password" type="password" required/>
     </mat-form-field>
   </div>
   </div>
   <button mat-raiesed-button class="nav-btn" color="primary" type="submit">Login</button>
</form>
<br>
<a routherLink="/register"></a>
</body>
</div>