<div class="login-container">
  <mat-card class="logIn-div">
      <div >
          <h1><i class="material-icons">lock</i> Log In</h1>
      <body>
      <form #f="ngForm" (ngSubmit)= "onSubmit(f)" [formGroup]="loginForm">
        <div>
         <div>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" type="email" required/>
          </mat-form-field>
         </div>
         <div>
           <mat-form-field>
             <input matInput placeholder="Password" formControlName ="password" type="password" required/>
           </mat-form-field>
         </div>
         </div>
         <button mat-raised-button type="submit">Login</button>
      </form>
      <br>
      <a routerLink="/register"></a>
      </body>
      </div>
  </mat-card>
</div>