
<div class="budget">

<h1>Budget</h1>
<button mat-raised-button color="accent" routerLink ="/budget/create">Create</button>
<hr>


<table mat-table [dataSource]= "dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="BudgetId">
        <th mat-header-cell *matHeaderCellDef> BudgetId </th>
        <td mat-cell *matCellDef="let budget"> {{budget.BudgetId}} </td>
    </ng-container>

    <ng-container matColumnDef="MonthlyIncome">
    <th mat-header-cell *matHeaderCellDef> Monthly Income </th>
    <td mat-cell *matCellDef="let budget"> {{budget.MonthlyIncome}} </td>
  </ng-container>

  <ng-container matColumnDef="EstimatedAvailableBalance">
    <th mat-header-cell *matHeaderCellDef> Estimated Available Balance </th>
    <td mat-cell *matCellDef="let budget"> {{budget.EstimatedAvailableBalance}} </td>
  </ng-container>

  <ng-container matColumnDef="SavingsAmount">
    <th mat-header-cell *matHeaderCellDef> Savings Amount </th>
    <td mat-cell *matCellDef="let budget"> {{budget.SavingsAmount}} </td>
  </ng-container>

  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let budget">
      <i class="material-icons" (click)="onDelete" routerLink="/budget/delete/{{budget.BudgetId}}">delete</i>
    </td>
</ng-container>

<ng-container matColumnDef="Details">
    <th mat-header-cell *matHeaderCellDef> Details </th>
    <td mat-cell *matCellDef="let budget">
      <i class="material-icons" routerLink="/budget/details/{{budget.BudgetId}}">library_books</i>
    </td>
</ng-container>


  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
  
</table>
</div>

<!-- <app-header></app-header>
<div class="budget">
<h1>Budget</h1>
<button mat-raised color="blue" routerLink = "/budget/create">Create New</button>
<hr>

<table mat-table [dataSource]= "dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="BudgetId">
      <th mat-header-cell *matHeaderCellDef> BudgetId </th>
      <td mat-cell *matCellDef="let budget"> {{budget.BudgetId}} </td>
  </ng-container>

  <ng-container matColumnDef="MonthlyIncome">
    <th mat-header-cell *matHeaderCellDef> MonthlyIncome </th>
    <td mat-cell *matCellDef="let budget"> {{budget.MonthlyIncome}} </td>
  </ng-container>

  <ng-container matColumnDef="EstimatedAvailableBalance">
    <th mat-header-cell *matHeaderCellDef> EstimatedAvailableBalance </th>
    <td mat-cell *matCellDef="let budget"> {{budget.EstimatedAvailableBalance}} </td>
  </ng-container>

  <ng-container matColumnDef="SavingsAmount">
    <th mat-header-cell *matHeaderCellDef> SavingsAmount </th>
    <td mat-cell *matCellDef="let budget"> {{budget.SavingsAmount}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>

</table>
</div> -->

